* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: var(--baseLightColor);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}